@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.form__calculator {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 50rem;
  min-height: 25rem;
  border-radius: 0.375rem;
  overflow: hidden;
  margin: 0 auto;
}

.form__calculator-textarea,
.form__calculator-result {
  padding: 1.25rem;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  font-size: 1.25rem;
  color: var(--color-text);
  background-color: var(--color-background-support);
}

.form__calculator-textarea {
  resize: none !important;
}

.form__calculator-result {
  display: grid;
  text-align: right;
  color: var(--color-primary);
}

.calculator-result__total {
  align-self: end;
}
