/* Styles for the Guide */

/* General Styleguide Styles */
.styleguide {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 60rem;
  margin: 0 auto;
}

.styleguide__title {
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
  margin: 2.5rem;
}

.styleguide__article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 3rem;
}

.styleguide__section-title {
  grid-column: 1;
  justify-self: self-end;
  font-size: 1rem;
  text-align: right;
  padding-right: 3.125rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.styleguide__styles {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.styleguide__colors {
  display: grid;
  grid-template-rows: auto auto;
}

.styleguide__colors-wrapper {
  display: flex;
  gap: 1rem;
}

.styleguide__colors--primary .styleguide__color,
.styleguide__colors--secondary .styleguide__color {
  padding: 7.5rem 0.625rem 0.625rem 0.625rem;
  max-width: max-content;
  text-align: center;
  color: black;
  box-shadow:
    0 -40px 0 0 white inset,
    0 2px 2px 0 rgba(0, 0, 0, 0.125);
  text-transform: uppercase;
}

.styleguide__colors--primary h2,
.styleguide__colors--secondary h2 {
  margin-bottom: 0.5rem;
}

.styleguide__article::after,
.styleguide__article::before {
  content: '';
  display: table;
  clear: both;
}

.styleguide__elements:first-child {
  margin-bottom: 1.5rem;
}

.styleguide__typography,
.styleguide__elements--forms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.styleguide__elements--buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Colors */

/* Primary Colors */
.styleguide__color--primary-1 {
  background: var(--color-primary);
}

.styleguide__color--primary-2 {
  background: var(--color-secondary);
}

.styleguide__color--primary-3 {
  background: var(--color-accent);
}

/* Secondary Colors */
.styleguide__color--secondary-1 {
  background: var(--color-text);
}

.styleguide__color--secondary-2 {
  background: var(--color-background);
}

/* Typography */
.styleguide__text--title-1 {
  font-family: var(--font-title);
  font-size: 3rem;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 1;
}

.styleguide__text--title-2 {
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: -2px;
  font-weight: 500;
  margin: 0;
  line-height: 1;
}

.styleguide__text-block--body-1 p {
  font-family: var(--font-text);
  font-size: 1.125rem;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 1rem;
}

.styleguide__text-block--body-2 p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Buttons and Links */
.styleguide__button--primary a {
  font-family: var(--font-title);
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 0.375rem;
  transition:
    transform ease 0.2s,
    box-shadow ease 0.2s;
  display: inline-block;
  font-size: 1.125rem;
  white-space: nowrap;

  &:hover {
    transform: translate(0, -0.1875rem);
    box-shadow: 0 1rem 2.5rem -0.625rem var(--color-primary);
  }
}

.styleguide__button--secondary a {
  font-family: var(--font-title);
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: 0.375rem;
  display: inline-block;
  font-size: 1.125rem;
  cursor: pointer;
  transition: transform ease 0.2s;
  white-space: nowrap;

  &:hover {
    transform: translate(0, -0.1875rem);
    transition: transform ease 0.2s;
  }
}

.styleguide__link a {
  font-family: var(--font-text);
  background-position-y: -0%;
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    var(--color-text) 50%
  ) !important;
  transition: all 0.1s ease;
  background-size: 0.125rem;
  background-size: auto 190%;
  padding: 0.5rem;

  &:hover {
    background-position-y: 100%;
    color: var(--color-background);
    transition: all 0.1s ease;
  }
}

/* Form elements */
.styleguide__input label,
.styleguide__textarea label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.styleguide__input input,
.styleguide__textarea textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-background-support);
  border-radius: 0.25rem;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: #c7c7c7;
  }
}

.styleguide__submit-button button {
  font-family: var(--font-title);
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 0.375rem;
  transition:
    transform ease 0.2s,
    box-shadow ease 0.2s;
  display: inline-block;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    transform: translate(0, -0.1875rem);
    box-shadow: 0 1rem 2rem -0.625rem var(--color-primary);
  }
}

@media screen and (max-width: 48rem) {
  .styleguide__article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .styleguide__section-title {
    padding-right: 0;
    text-align: center;
  }
  .styleguide__colors-wrapper {
    flex-wrap: wrap;
  }
  .styleguide__colors--primary .styleguide__color,
  .styleguide__colors--secondary .styleguide__color {
    box-shadow: none !important;
  }
  .styleguide__colors--primary .styleguide__color p,
  .styleguide__colors--secondary .styleguide__color p {
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
  }
}
