/* General Form Styles */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__title {
  margin-bottom: 1rem;
}

.form__label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.form__input {
  font-family: var(--font-text);
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.0625rem solid var(--color-secondary);
  border-radius: 0.25rem;
  color: var(--color-text);
  background-color: var(--color-background-support);
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: #c7c7c7;
  }
}

.form__input--checkbox:not([type='number']) {
  appearance: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--color-secondary);
  border-radius: 0.25rem;
  color: var(--color-text);
  background-color: var(--color-background-support);
  transition: border-color 0.3s;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;

  &:checked {
    border-color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  &:checked::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.5rem;
    height: 0.875rem;
    border: solid var(--color-primary);
    border-width: 0 0.125rem 0.125rem 0;
    transform: rotate(45deg);
    top: 0.2rem;
    left: 0.45rem;
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }
}

textarea.form__input {
  font-family: var(--font-text);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Password Generator Styles */
.form-passGen {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 40rem;
}

.passGen__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form__btn-one {
  padding: 0.25rem 2rem;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: 0.375rem;
  display: inline-block;
  font-size: 1.125rem;
  z-index: 1;
  cursor: pointer;
  transition: transform ease 0.2s;
  white-space: nowrap;

  &:hover {
    transform: translate(0, -0.1875rem);
    transition: transform ease 0.2s;
  }
}

.pass__wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 0.1875rem;
    left: 0;
    right: 0;
    border-radius: 0.1875rem;
    background: linear-gradient(
      to right,
      var(--color-primary) 25%,
      var(--color-accent) 75%
    );
  }
}

.passGen__wrapper__label {
  display: flex;
  white-space: nowrap;
  user-select: none;
}

.passGen__wrapper__label > span {
  display: block;
  flex: 1 1 0%;
  white-space: nowrap;
}

.passGen__wrapper__label > input[type='number'] {
  text-align: right;
}

.form__btn-two {
  font-family: var(--font-title);
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 0.375rem;
  transition:
    transform ease 0.2s,
    box-shadow ease 0.2s;
  display: inline-block;
  font-size: 1.125rem;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    transform: translate(0, -0.1875rem);
    box-shadow: 0 0.625rem 2.25rem -0.3125rem var(--color-primary);
  }
}

/* ROMAN CONVERTER FORM */
.form__roman_wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  .form__label {
    margin: 0;
    & input {
      display: block;
    }
  }

  .form__btn-two {
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}

/* RULE OF THREE FORM */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ruleofthree__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: max-content;
}

.ruleofthree__title {
  font-size: 2rem;
  text-align: center;
  place-self: center;
  margin: 1rem 0;
}

.group__ruleofthree {
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;

  & p {
    color: var(--color-text);
    font-size: 1.25rem;
    line-height: 1;
    width: 100%;
    padding: 0.25rem 2rem;
    background-color: var(--color-secondary-support);
  }
}

.subgroup__ruleofthree {
  display: flex;
  flex-direction: column;

  & button {
    align-self: flex-end;

    &:disabled {
      opacity: 0.5;
      background-color: var(--color-background-support);
      cursor: not-allowed;
    }
  }
}

.ruleofthree__error,
.roman-converter__error {
  display: none;
  place-self: center;
  text-align: center;
  color: red;
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 1rem;
  width: 100%;
  padding: 0.25rem 0;
  background-color: var(--color-secondary-support);
}

@media screen and (max-width: 48rem) {
  .form__label {
    font-size: 1rem;
  }

  .form__input {
    font-size: 0.875rem;
  }

  .form__input--checkbox {
    font-size: 0.875rem;
  }

  .form__roman_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .form__label > input {
      margin: 0;
    }

    .form__btn-two {
      align-self: initial;
      margin-bottom: initial;
    }
  }

  .form__roman_wrapper:first-of-type {
    margin-bottom: 1rem;
  }

  .ruleofthree__wrapper {
    flex-direction: column;
  }

  #ruleofthree-calc {
    margin-inline: auto;
    max-width: max-content;
  }

  .group__ruleofthree {
    flex-direction: column;

    input {
      margin: 0;
    }

    p {
      text-align: center;
    }
  }

  .subgroup__ruleofthree {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 1rem;
      margin-inline: auto;
      align-self: initial;

      &:disabled {
        opacity: 0.5;
        background-color: var(--color-background-support);
        cursor: not-allowed;
      }
    }
  }
}
