@import url(./switchButton.css);

/* SIDEBAR STYLE */
.sidebar {
  position: fixed;
  z-index: 500;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15rem;
  height: 100%;
  padding: 0.625rem;
  background-color: var(--color-primary);

  transition: all 0.35s;
}

.sidebar__header {
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar__header__logo {
  min-height: 2.125rem;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.sidebar__header__logo__mini {
  display: none;
  transition: transform 0.4s ease-in-out;

  &:hover {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 920px) {
  .sidebar__header__logo {
    display: none;
  }
  .sidebar__header__logo__mini {
    display: block;
    object-fit: cover;
    max-height: fit-content;
  }
}

.sidebar__nav::-webkit-scrollbar {
  display: none;
}

.sidebar__nav {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar__nav__link {
  max-height: 3.75rem;
  background: transparent;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;

  &.active-link {
    border-radius: 1.5rem;
    background-color: var(--color-accent);
  }
}

.sidebar__nav__link__wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  height: 3rem;
  padding: 0 1rem 0 0.75rem;
  border-radius: 1.5rem;
  line-height: 1;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: var(--color-accent);
  }
}

.sidebar__nav__link__icon {
  position: relative;
  font-size: 1.75rem;
  transition: 0.2s;
}

.sidebar__nav__link__text {
  font-size: 1rem;
}

.sidebar__nav__heading__separator {
  display: none;
}

.sidebar__nav__heading {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-background);
}

.sidebar__nav__heading > span {
  display: none;
}

.sidebar__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.sidebar__footer__logo {
  display: none;
}

/* SIDEBAR MEDIA QUERIES */
@media screen and (max-width: 57.5rem) {
  .sidebar {
    width: 4.5rem;
    padding-bottom: 0.5rem;
  }

  .sidebar__nav__heading {
    display: none;
  }

  .sidebar__nav__heading__separator {
    display: block;
    width: 100%;
    text-align: center;
  }

  .sidebar__nav__link__wrapper {
    width: 3.125rem;
  }

  .sidebar__nav__link__text {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar__footer {
    right: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin-top: 0.5rem;

    transition: all 0.2s ease-in-out;
  }

  .sidebar__footer__copyright {
    display: none;
  }

  .sidebar__footer__logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;

    & span {
      color: var(--color--text);
    }
  }
}

/* MENU BURGER */
.hamburger__menu__button {
  display: none;
  align-self: flex-start;
  align-items: center;
  margin: 1rem;
  background: transparent !important;
  color: var(--color--text);
  border: 0;
}

.hamburger__menu__nav {
  display: none;
  z-index: 999;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    background: var(--color-primary);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow: auto !important;
  }
}

.close-and-checkbox__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;

  .hamburger__menu__button__close {
    font-size: 2rem;
    line-height: 1;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.hamburger__menu__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hamburger__menu__nav.active
  > .hamburger__menu__links
  > .hamburger__menu__nav__link {
  .hamburger__menu__nav__link__wrapper {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
  }
}

.hamburger__menu__nav.active
  > .hamburger__menu__links
  > .hamburger__menu__nav__heading {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.125rem;
}

@media screen and (max-width: 30rem) {
  .sidebar {
    display: none;
  }

  .hamburger__menu__button {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
}
