@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css');
@import url('./global/fonts.css');
@import url('./utils/sidenav.css');
@import url('./utils/forms.css');
@import url('./paths/loading.css');
@import url('./paths/passwordGenerators.css');
@import url('./styleguide/mainstyleguide.css');
@import url('./paths/404.css');

:root {
  /* Font */
  --font-title: 'Montserrat', sans-serif;
  --font-text: 'Source Sans Pro', sans-serif;

  /* Light Mode Colors */
  --color-text: hsl(0, 0%, 2%);
  --color-background: hsl(0, 0%, 98%);
  --color-primary: hsl(14, 80%, 64%);
  --color-secondary: hsl(195, 80%, 90%);
  --color-accent: hsl(14, 80%, 50%);

  /* Dark Mode Colors */
  --dark-color-text: hsl(0, 0%, 98%);
  --dark-color-background: hsl(0, 0%, 2%);
  --dark-color-primary: hsl(14, 80%, 64%);
  --dark-color-secondary: hsl(195, 80%, 10%);
  --dark-color-accent: hsl(14, 80%, 70%);

  --gradient-x: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0),
    hsl(210, 4%, 64%),
    hsla(0, 0%, 0%, 0)
  );
  --gradient-y: linear-gradient(
    0,
    hsla(0, 0%, 0%, 0),
    hsl(210, 4%, 64%),
    hsla(0, 0%, 0%, 0)
  );
}

body {
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

.container {
  margin-inline: 1.5rem;
}

.main {
  padding-top: 5rem;
}

@media screen and (max-width: 64rem) {
  .main {
    padding-left: 18.75rem;
    padding-top: 6rem;
    transition: padding 0.4s;
  }
}
