@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./global/fonts.css');
@import url('./global/sidenav.css');
@import url('./global/forms.css');
@import url('./utils/loading.css');
@import url('./styleguide/mainstyleguide.css');
@import url('./paths/404.css');

:root {
  /* Font */
  --font-title: 'Montserrat', sans-serif;
  --font-text: 'Source Sans Pro', sans-serif;

  /* Light Mode Colors */
  --color-text: hsl(0, 0%, 2%);
  --color-background: hsl(0, 0%, 98%);
  --color-primary: hsl(14, 80%, 64%);
  --color-secondary: hsl(195, 80%, 90%);
  --color-accent: hsl(14, 80%, 50%);

  /* Dark Mode Colors */
  --dark-color-text: hsl(0, 0%, 98%);
  --dark-color-background: hsl(0, 0%, 2%);
  --dark-color-primary: hsl(14, 80%, 64%);
  --dark-color-secondary: hsl(195, 80%, 10%);
  --dark-color-accent: hsl(14, 80%, 70%);
}

body {
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

#content {
  margin-left: 0;
  transition: margin-left 0.5s;

  @media screen and (min-width: 48rem) {
    margin-left: 15.625rem;
  }

  @media screen and (max-width: 48rem) {
    margin-left: 2.625rem;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal !important;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
