#burger {
  display: none;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text);
  padding: 0.5rem;
  font-size: 1.625rem;
  line-height: 0;
  border-radius: 0 0 0.5rem 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 48rem) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;

  a,
  h2 {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    color: var(--color-text);
    display: block;
    line-height: 1;
    font-weight: 500;
    transition: 0.3s;
  }

  h2,
  .home-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-secondary);
    font-size: 1.5rem;
    cursor: pointer;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
  }

  .dropdown {
    display: none;
  }

  a:hover,
  h2:hover {
    color: var(--color-accent);
    background-color: var(--color-background);
    margin-left: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  @media screen and (max-height: 28.125rem) {
    padding-top: 15px;

    a {
      font-size: 1.125rem;
    }
  }

  @media screen and (min-width: 48rem) {
    width: 15.625rem;
  }
}
